p	{
    line-height: 3px;	/*	tamanho	da	altura	de	cada	linha	*/
    letter-spacing: 3px;	/*	tamanho	do	espaço	entre	cada	letra	*/
    word-spacing: 5px;	/*	tamanho	do	espaço	entre	cada	palavra	*/
    text-indent: 30px;	/*	tamanho	da	margem	da	primeira	linha	do	texto	*/
}
body	{
    border-color:	red;
    border-style:	solid;
    border-width: 1px;
}

.h1 {
        
    font-family: "Lucida	Sans	Unicode", "Lucida	Grande", sans-serif;
}
container	{
    margin: 0	auto;
    width: 940px;
}
.font {
    color: #333333;
    font-family: "Lucida	Sans	Unicode",	"Lucida	Grande",	sans-serif;
}



	
